@font-face {
	font-family: "Montserrat";
	src: url(fonts/Montserrat.ttf);
	font-style: normal;
}

body {
	margin: 0;

	font-family: "Montserrat";
	color: #2D3347;
}

.wrapper {
	margin: 0 auto;

	max-width: 100%;
	min-width: 720px;

	background-image: url(images/Background.png);
	background-size: cover;
}

@media screen and (max-width:1000px) {
	.wrapper {
		background-image: none;
	}
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.header__title_image {
	margin: 33px 80px;
	
	font-weight: 400;
	font-size: 28px;
	line-height: 34px;

	width: 181px;
	height: 30px;
}

.header__buttons_row {
	margin: 20px auto;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.header__buttons_button {
	width: 154px;
	height: 60px;
	
	border: 1px solid #131313;
	border-radius: 30px;
	
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-align: center;

	background-color: white;
}

.header__logo {
	margin: 20px 80px;

	width: 60px;
	height: 60px;

	background-color: #4D9DE0;
}

@media screen and (max-width:900px) {
	.header__title_image {
		margin: 60px 10px;
	}

	.header__logo {
		margin: 45px 24px;
	}
}

@media screen and (max-width:720px) {
	.header__buttons_row {
		margin: 25px auto;

		gap: 20px;
	}

	.header__buttons_button {
		width: 150px;
		height: 100px;

		font-size: 24px;
		line-height: 29px;
	
		border-radius: 61px;
	}
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;

	margin: 53px 0;
}

.content__block_separation {
	visibility: hidden;

	width: 640px;

	border: 1px solid #C0C0C0;
}

.content__albums_column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;

	padding: 40px 80px;
}

.content__albums_title {
	font-weight: 700;
	font-size: 64px;
	line-height: 78px;
}

.content__albums-previews_row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 27.5px;
}

.content__albums-previews_preview {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}

.content__albums-previews_preview_image {
	width: 426px;
	height: 568px;

	background-color: #4D9DE0;
}

.content__albums-previews_preview_down-text {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
}

@media screen and (max-width:1000px) {
	.content {
		margin: 0;
	}	

	.content__block_separation {
		visibility: visible;
	}

	.content__albums_column {	
		padding: 0 40px;
	}

	.content__albums-previews_row {
		padding: 0px 10px;
		gap: 20px;

		flex-direction: column;
	}

	.content__albums-previews_preview_down-text {
		font-size: 32px;
		line-height: 39px;
	}

	.content__albums-previews_preview_image {
		width: 580px;
		height: 773px;

		background: #4D9DE0;
	}

	.content__albums_title {
		font-size: 48px;
		line-height: 59px;
	}
}

.content__services_column {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;

	padding: 40px 80px;
}

.content__service_block {
	display: grid;
	grid-template-areas: 
            "title title image"
            "text text image"
            "text text image";

	gap: 20px 10px;
	padding: 60px;

	background: #EBF2EA;
	border-radius: 60px;
}

.content__service_title {
	grid-area: title;

	width: 450px;
	height: 39px;

	font-weight: 500;
	font-size: 32px;
	line-height: 39px;
	text-align: left;
}

.content__service_text-info {
	grid-area: text;

	display: flex;
	flex-direction: column;
	gap: 20px;
}

.content__service_price {
	font-weight: 300;
	font-size: 22px;
	line-height: 29px;
}

.content__service_options_list {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}

.content__service_order-button {
	width: 194px;
	height: 73px;

	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-align: center;

	border: 1px solid #131313;
	border-radius: 119px;
}

.content__service_image {
	grid-area: image;

	width: 300px;
	height: 375px;

	background: #4D9DE0;
}

@media screen and (max-width:1000px) {
	.content__services_column {
		padding: 20px 40px;
	}

	.content__service_block {
		grid-template-areas: 
				"title"
				"image"
				"text";

		padding: 20px;
		gap: 20px;

		width: 600px;

		background-color: white;
		border-radius: 0;
	}

	.content__service_text-info {
		align-items: center;

		width: 580px;
	}

	.content__service_title {
		margin: 0 auto;

		width: 590px;
		height: 88px;

		font-size: 72px;
		line-height: 88px;
	}

	.content__service_price {
		font-size: 48px;
		line-height: 59px;
	}

	.content__service_options_list {
		font-size: 24px;
		line-height: 29px;
	}

	.content__service_order-button {
		background-color: white;
	}

	.content__service_image {
		margin: 0 auto;

		width: 580px;
		height: 725px; 
	}
}

.content__grid_previews {
	display: flex;
	flex-direction: column;
	align-items: center;

	max-width: 1040px;
}

.content__grid_preview_row {
	display: flex;
	flex-direction: row;
	gap: 20px;

	padding: 10px 74px;
}

.content__grid_preview_image {
	width: 284px;
	height: 378px;

	background: #4D9DE0;
}

@media screen and (max-width:950px) {
	.content__grid_previews {
		max-width: 640px;
	}

	.content__grid_preview_row {
		padding: 10px;
	}

	.content__grid_preview_image {
		width: 193px;
		height: 257px;
	}
}

.content__pre-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

	padding: 40px 98px;
}

.content__pre-footer_title {
	width: 844px;
	height: 39px;

	font-weight: 500;
	font-size: 32px;
	line-height: 39px;
	text-align: center;
}

@media screen and (max-width:900px) {
	.content__pre-footer {
		padding: 40px 20px;
	}

	.content__pre-footer_title {
		width: 600px;
		height: 88px;

		font-size: 36px;
		line-height: 44px;
	}
}

.content__pre-footer_button {	
	width: 400px;
	height: 100px;

	background-color: #131313;
	border-radius: 169px;

	font-weight: 400;
	font-size: 28px;
	line-height: 34px;

	background-color: #2D3347;
	color: #F7FFF6;
}

.footer {
	margin-top: 40px;

	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: #2D3347;
}

.footer_title {
	padding: 40px 0 40px 0;

	font-weight: 300;
	font-size: 18px;
	line-height: 24px;

	color: #F7FFF6;
}