@font-face {
	font-family: "Montserrat";
	src: url("fonts/Montserrat.ttf");
	font-style: normal;
}

body {
	margin: 0;

	font-family: "Montserrat";
}

.wrapper {
	margin: 0 auto;

	background-image: url(images/Background.png);
	background-size: cover;
}

@media screen and (max-width:1200px) {
	.wrapper {
		background-image: none;
	}
}

@media screen and (max-width:900px) {
	.wrapper {
		min-width: 900px;
	}
}

@media screen and (max-width:565px) {
	.wrapper {
		min-width: 720px;
	}
}

.header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	margin: 0 auto;

	max-width: 100%;
}

.header__title {
	margin: 33px 80px;
	
	font-weight: 400;
	font-size: 28px;
	line-height: 34px;

	max-width: 181px;
	max-height: 30px;

	color: #131313;
}

.header__buttons_row {
	margin: 20px auto;

	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 40px;
}

.header__buttons_button {
	min-width: 154px;
	min-height: 60px;
	
	border: 1px solid #131313;
	border-radius: 30px;
	
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	text-align: center;

	color: #131313;
	background-color: white;
}

.header__logo {
	margin: 20px 80px;

	min-width: 60px;
	min-height: 60px;

	background-color: #4D9DE0;
}

@media screen and (max-width:900px) {
	.header__title {
		margin: 60px 10px;
	}

	.header__logo {
		margin: 45px 24px;
	}
}

@media screen and (max-width:720px) {
	.header__buttons_row {
		margin: 25px auto;

		gap: 20px;
	}

	.header__buttons_button {
		min-width: 150px;
		min-height: 100px;

		font-size: 24px;
		line-height: 29px;
	
		border-radius: 61px;
	}
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;

	margin: 53px auto;
	padding: 0 80px 40px 80px;

	max-width: 1200px;
}

.content__block_separation {
	visibility: hidden;

	min-width: 640px;

	border: 1px solid #C0C0C0;
}

.content__albums_column {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;

	padding: 40px 80px;
}

.content__albums_title {
	font-weight: 700;
	font-size: 64px;
	line-height: 78px;

	color: #131313;
}

.content__albums-previews_row {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 27.5px;
}

.content__albums-previews_preview {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;
}

.content__albums-previews_preview_image {
	max-width: 580px;
	max-height: 773px;

	min-width: 426px;
	min-height: 568px;

	background-color: #4D9DE0;
}

.content__albums-previews_preview_down-text {
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;

	color: #131313;
}

@media screen and (max-width:1050px) {
	.content {
		margin: 0 auto;
		padding: 0;
	}	

	.content__block_separation {
		visibility: visible;
	}

	.content__albums_column {	
		padding: 20px 30px;
	}

	.content__albums-previews_row {
		flex-direction: column;
	}

	.content__albums-previews_preview_down-text {
		font-size: 32px;
		line-height: 39px;
	}

	.content__albums-previews_preview_image {
		min-width: 580px;
		min-height: 773px;

		background: #4D9DE0;
	}

	.content__albums_title {
		font-size: 48px;
		line-height: 59px;
	}
}

.content__services_column {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

.content__service_block {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 60px;
	gap: 10px;
	isolation: isolate;

	background: #EBF2EA;
	border-radius: 60px;
}

.content__service_text-info {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.content__service_title {
	font-weight: 500;
	font-size: 32px;
	line-height: 39px;

	color: #131313;
}

.content__service_price {
	font-weight: 300;
	font-size: 22px;
	line-height: 29px;

	color: #131313;
}

.content__service_options_list {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;

	min-width: 450px;

	color: #131313;
}

.content__service_order-button {
	width: 194px;
	height: 73px;

	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	text-align: center;

	border: 1px solid #131313;
	border-radius: 119px;
}

.content__service_image {
	order: 1;

	min-width: 300px;
	min-height: 375px;

	background: #4D9DE0;
}

@media screen and (max-width:1050px) {
	.content__services_column {
		padding: 20px;
	}

	.content__service_block {
		flex-direction: column;

		padding: 10px;
		gap: 20px;

		background-color: white;
		border-radius: 0;
	}

	.content__service_text-info {
		align-items: center;

		padding: 10px;

		order: 2;
	}

	.content__service_title {
		font-size: 72px;
		line-height: 88px;

		order: 0;
	}

	.content__service_price {
		font-size: 48px;
		line-height: 59px;
	}

	.content__service_options_list {
		min-width: 580px;

		font-size: 24px;
		line-height: 29px;
	}

	.content__service_order-button {
		background-color: white;
	}

	.content__service_image {
		margin: 0 auto;

		min-width: 580px;
		min-height: 725px;

		padding: 10px;

		order: 1;
	}
}

.content__grid_previews {
	display: flex;
	flex-direction: column;
	align-items: center;

	max-width: 1040px;
}

.content__grid_preview_row {
	display: flex;
	flex-direction: row;
	gap: 20px;

	padding: 10px 74px;
}

.content__grid_preview_image {
	min-width: 284px;
	min-height: 378px;

	background: #4D9DE0;
}

@media screen and (max-width:950px) {
	.content__grid_previews {
		max-width: 640px;
	}

	.content__grid_preview_row {
		padding: 10px;
	}

	.content__grid_preview_image {
		min-width: 193px;
		min-height: 257px;
	}
}

.content__pre-footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.content__pre-footer_title {
	font-weight: 500;
	font-size: 32px;
	line-height: 39px;
	text-align: center;

	color: #2D3347;
}

@media screen and (max-width:900px) {
	.content__pre-footer_title {
		font-size: 36px;
		line-height: 44px;
	}
}

.content__pre-footer_button {	
	width: 400px;
	height: 100px;

	background-color: #131313;
	border-radius: 169px;

	font-weight: 400;
	font-size: 28px;
	line-height: 34px;

	background-color: #2D3347;
	color: #F7FFF6;
}

.footer {
	margin-top: 40px;

	display: flex;
	flex-direction: column;
	align-items: center;

	max-width: 100%;
	
	background-color: #2D3347;
}

.footer_title {
	padding: 40px 0 40px 0;

	font-weight: 300;
	font-size: 18px;
	line-height: 24px;

	color: #F7FFF6;
}